@font-face {
  font-family: "gt-sectra-fine";
  src: url(../../styles/fonts/GTSectraFineBook.ttf);
}

.join-us {
  border: solid;

  input {
    width: 500px;
  }

  .aaa {
    border: solid;
  }

  h2 {
    border: solid;
  }
}

.sign-up {
  // .sign-up-modal {
  //   border: solid;
  //   position: absolute;
  //   width: 60%;
  //   background-color: #EFEFEF;
  //   // boxShadow: theme.shadows[5],
  //   // padding: theme.spacing(2, 4, 3)
  // }

  button {
    border: solid;

  }

  border: solid;
}

// .sign-up {
//   border: solid;

//   div {
//     border: solid;
//   }

//   .modal {
//     border: solid;

//   }

//   .element {
//     border: solid;
//   }

//   .input {
//     border: solid;
//     width: 500px;
//   }
// }